* {
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #a8dadc;
}

.container {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    text-align: start;

    background-color: #1d3557;
    color: #FFFFFF;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
}

.form-container div {
    padding-top: 30px;
}

.form-container .comments textarea{
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
}

#submit {
    width: 100px;
    height: 40px;
    margin: 30px 0 30px 0;
    background-color: #2b9348;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 1px black;
    font-weight: 800;
    font-size: medium;
    color: #FFFFFF;
}

#submit:hover {
    cursor: pointer;
    background-color: #55a630;
}